<h3>cl-image: works fine</h3>

<cl-image public-id="sample" width="200">
    <cl-transformation angle="180"></cl-transformation>
</cl-image>

<h3>[clSrc]: works fine</h3>

<img clSrc="sample" width="200"/>

<h3>[clSrcset] with one source</h3>

<p>Nominally works, though a one-image srcset isn't all that useful, and I'd expect a src fallback</p>

<img clSrcset="sample" width="200"/>

<blockquote>
  &lt;img _ngcontent-c0="" clsrcset="sample" ng-reflect-cl-srcset="sample" srcset="http://res.cloudinary.com/demo/image/upload/sample" width="200"&gt;
</blockquote>

<h3>[clSrcset] with two sources, the actual solve</h3>

Based on the solve <a href="https://github.com/cloudinary/cloudinary_angular/issues/170#issuecomment-467953597">noted here</a>

<img 
  clSrcset="https://res.cloudinary.com/demo/image/upload/sample 200w, https://res.cloudinary.com/demo/image/upload/sample 400w"
  fetch-format="auto"
/>

<h3>[clSrcset] attempts at multiple sources</h3>

<img clSrcset="sample 200w, sample 400w"/>
<img clSrcset="sample 2x"/>
<img clSrcset="sample.jpg 2x"/>

<p>
  These attempts generate URLs that doesn't work. I'd expect them to generate multiple image URLs.
</p>
